<div id="twitter"></div>
<script type="text/javascript">

function showResult(json){
    jsonResults = json.results;
    var size = (jsonResults.length > ${content.size.value}) ? ${content.size.value} : jsonResults.length;
	for (i=0; i < size; i++) {
    	var jsonItem = jsonResults[i]; 
        var myDiv = document.getElementById('twitter');
        myDiv.innerHTML += '<div style="border-bottom: solid 1px #DCDDDE;"><p style=""><img src="'
        + jsonItem.profile_image_url
        + '" style="float:left; margin:5px 10px 10px 0">'
        + jsonItem.text
        + '</p><div style="clear:both;"/></div>';
        }
}

</script>
             
 <script type="text/javascript" src="http://search.twitter.com/search.json?q=%23${content.twitterHash.value}&callback=showResult&count=${content.size.value}">
 </script>